body {
       background-image: url(https://joyontadasjoy.github.io/portfolio/static/img/seamless_paper_texture.jpg);
}

.font-sc {
    font-variant: small-caps;
}

.brand:hover,
a:hover {
    text-decoration: none;
}
